.c-disclaimer
{
	width: 100%;
	background-color:#1e1e1f;
	margin-bottom:2em;
	padding: 2em
}
.c-disclaimer p
	{
		display:block !important;
		margin-bottom:0 !important;
		text-align:center !important;
	}

	.c-image
	{
		width: 100%;
		display:block;
		padding:0em 2.5em 1.5em 2.5em;
		
	}	
	
	.c-image img
	{
		object-fit: cover;
	
		max-width: 100%;
		max-height: 100%;
		border-radius:4px;
		
		transition: all 0.2s ease-in-out;

		-webkit-transition: 0.2s ease-in-out;
		-moz-transition: 0.2s ease-in-out;
		-o-transition: 0.2s ease-in-out;
		transition: 0.2s ease-in-out;
	}	
	.c-image a
	{
		border-bottom:0;
	}						


.pr-gallery a
{
	border:none;
	

		}
/*Gallery animation */

.c-image :hover{

	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform:scale(1.05);
	transform:  scale(1.05);
}

.c-header
{
	position:relative;
	padding:0!important;
	margin:0;
	margin-bottom:2em;

}
	.c-innerHeader
	{
		position:relative;
	}

	.c-header img
	{
		display:block;
		margin: 0 auto;
		max-width: 100%;
		max-height: auto;
	}

	.c-innerHeaderText
	{
		position: absolute; 
		bottom:40%;
		margin:1em;
		color:black;    
		width: 100%;
		margin: 0 auto;

	}

		.c-innerHeaderText h1
		{
			text-align: center;
			color:white;
			font-size:6.5em;
			margin-bottom: 0.2em;
		}
		.c-innerHeaderText p
		{
			margin-bottom:0.7em;
			text-align: center;
			color:white;
			font-size:1.5em
		}

.c-headerSmall img
{
	margin:0em 0em 1.5em 0em ;
	height:10em;
	object-fit:cover;
	object-position: 50% 60%;
}
.c-main
{
	padding-bottom:0 !important;
}


	.c-essayBlock
	{
		border-radius:4px;
		padding:2em;
		margin:3em;
		background-color:#1e1e1f;
	}
	.c-credits
	{
		border-radius:4px;
		padding:2em;
		margin:3em;
		/* background-color:#1e1e1f; */
		opacity:1;
		
	}
	h2
		{
			text-align:center;
			margin: 0 1em;
			margin-bottom: 1em;
			font-size: 1.5em;
			letter-spacing: 0
		}

		.c-creditsColumns .pr-FlexColumns
		{
			width:33%;
		}

		#main .pr-Article .c-creditsColumns .pr-FlexColumns p
		{
			margin:0 1em;
			color:#797979;

		}

		#main .pr-Article .c-creditsColumns .pr-FlexColumns a
		{
			color:#797979;
			border-bottom: dotted 2px rgb(46, 46, 46);
		}

		.pr-FlexColumns.Columns2
		{
			width:50%;
		}

		.c-headerImage img
		{
			object-position:50% 90%; 
		}
	.c-image-right
	{
		padding-right:2em;
		width:40%;
	}
	.c-image-left
	{
		padding-left:2em;
		width:40%;
	}

.c-thankYou
{
	display:block;
	margin: 0 auto;
	padding:5em 0 11em 0;

}

	.c-thankYou p
	{
		text-align:center;
		display:block;
	}
	.c-thankYou .c-1
	{
		line-height: normal;
		color:white;
		margin:0;
		font-size:3.8em;
		font-family:"Ilisarniq-bold";
		letter-spacing: 0.05em;
		text-transform: uppercase;
	}
	.c-thankYou .c-2
	{
		color:white;
		font-size:1.1em;


	}
	.c-thankYou .c-3 a
	{
		display:block;
		color:rgb(128, 128, 128);
		font-size:1.1em;
		text-align: center;
		border-bottom:0;
	}
	.c-thankYou-Inner
	{
		display:block;
		margin:0 auto;
	}

	.pr-Image-TextArticle
	{
		margin: 0 2em;
	}
	.pr-Image-TextColumn
	{
		max-width:50%
	}
	.pr-Image-TextColumn
	{
		
	}	
	.pr-Image-TextColumn h3
	{
		margin:0 1em;
		margin-bottom:1em;
		font-size:1.5em;
		letter-spacing:0;

	}
		.pr-Image-TextColumn .left
		{
			text-align:left;
		}
		.pr-Image-TextColumn .right
		{
			text-align:right;
		}


	@media screen and (max-width: 980px) {
		.pr-Image-TextArticle
		{
			flex-wrap: wrap;

		}
		.pr-Image-TextColumn
		{
			width:100%;
		}
		
	}

	#videoHeaderBG
	{
		z-index: -1;
		width:100%;
		height: auto;
		filter: brightness(80%);
		-webkit-filter: brightness(80%);
	}

	@media (min-aspect-ratio: 16/9) {
		#videoHeaderBG{
			width: 100%;
			height: auto;
		}
	}
	@media (max-aspect-ratio: 16/9) {
		#videoHeaderBG{
			
		}
	}

	@media (min-width: 767px){
		.headerVidPoster
		{
			display:none !important;
		}

		
	}
	@media (max-width: 767px){
		#videoHeaderBG
		{
			display:none;
		}

		.inner .pr-FlexArticle p
		{
			margin:1em !important;
		}


		.headerVidPoster
		{
			
			background:url("/images/CglTask/poster.jpg");
			background-size:cover;

			filter: brightness(80%);
			-webkit-filter: brightness(80%);
		}
		.c-innerHeaderText
		{
			bottom:30%
		}

			.c-innerHeaderText h1
			{
				line-height:1;
				font-size:3em;
			}
			.c-disclaimer
			{
				padding:0.5em;
			}
			.c-essayBlock
			{
				margin:0;
				padding:1em 0; 
			} 
			
			.pr-FlexColumns.Columns2 p
			{
				margin:1em 1em!important;
			}
			.pr-FlexColumns.Columns2
			{
				width:100%
			}
			.pr-FlexColumns.Columns2 p
			{
				margin-bottom:3em;
			}
			.pr-Image-TextColumn
			{
				max-width:100%;
			}
			
			.pr-Image-TextArticle
			{
				margin:0;
			}
				.pr-Image-TextColumn .right
				{
					text-align:center;
				}
		
				.pr-Image-TextColumn .left
				{
					text-align:center;
				}

				.c-image-right
				{
					padding-right:0;
					width:100%
				}
				.c-image-left
				{
					padding-left:0;
					width:100%
				}
			.c-credits
			{
				margin: 1em 0;
				padding:1em 0; 
			}

			.c-creditsColumns .pr-FlexColumns
			{
				width:100%;
			}
			.c-creditsColumns .pr-FlexColumns 
			{
				margin-bottom:1em;
			}
			.c-1
			{
				letter-spacing:15px !important;
				margin-bottom:0.5em  !important;
			}

		@media (max-width: 480px){
			.c-innerHeaderText
			{
				bottom:10%
			}

				.c-innerHeaderText h1
				{
					line-height:1;
					
					font-size:2.5em;
				}

			.pr-FlexColumns.Columns2
			{
				width:100%
			}
			.pr-FlexColumns.Columns2 p
			{
				margin-bottom:3em;
			}
			.pr-Image-TextColumn
			{
				max-width:100%;
			}
			
			.pr-Image-TextArticle
			{
				margin:0;
			}
				.pr-Image-TextColumn .right
				{
					text-align:center;
				}
		
				.pr-Image-TextColumn .left
				{
					text-align:center;
				}

				.c-image-right
				{
					padding-right:0;
					width:100%
				}
				.c-image-left
				{
					padding-left:0;
					width:100%
				}
			.c-essayBlock
			{
				margin:0;
				padding:1em 0; 
			} 
			.c-credits
			{
				margin: 1em 0;
				padding:1em 0; 
			}
			.c-creditsColumns .pr-FlexColumns
			{
				width:100%;
			}
			.c-creditsColumns .pr-FlexColumns 
			{
				margin-bottom:1em;
			}
			
		}

		
	}
