
.c-header
{
	position:relative;
	padding:0!important;
	margin:0;
	background-color:blue;
	margin-bottom:9em;

}
	.c-innerHeader
	{
		position:relative;
	}

	.c-header img
	{
		display:block;
		margin: 0 auto;
		max-width: 100%;
		max-height: auto;
	}

	.c-innerHeaderText
	{
		position: absolute; 
		bottom:40%;
		margin:1em;
		color:black;    
		width: 100%;
		margin: 0 auto;

	}

		.c-innerHeaderText h1
		{
			text-align: center;
			color:white;
			font-size:4em
		}
		.c-innerHeaderText p
		{
			margin-top:0.5em;
			text-align: center;
			color:white;
			font-size:1.25em
		}

.c-main
{
	padding-bottom:0 !important;
}


	.c-essayBlock
	{
		border-radius:4px;
		padding:2em;
		margin:3em;
		background-color:#1e1e1f;
	}



.c-thankYou
{
	width:100%; 

	padding:5em 0 11em 0;

}

	.c-thankYou p
	{
		text-align:center;
	}
	.c-thankYou .c-1
	{
		color:white;
		margin:0;
		font-size:3.8em;
		font-family:"Ilisarniq-bold";
		letter-spacing: 0.05em;
		text-transform: uppercase;
	}
	.c-thankYou .c-2
	{
		color:white;
		font-size:1.1em;

	}
	.c-thankYou-Inner
	{
		display:block;
		margin:0 auto;
	}

	.pr-Image-TextArticle
	{
		margin: 0 2em;
	}
	.pr-Image-TextColumn
	{
		max-width:50%
	}
	.pr-Image-TextColumn
	{
		
	}

	@media screen and (max-width: 980px) {
		.pr-Image-TextArticle
		{
			flex-wrap: wrap;

		}
		.pr-Image-TextColumn
		{
			width:100%;
		}
		
	}

	#videoHeaderBG
	{
		z-index: -1;
		width:100%;
		height: auto;
		filter: brightness(80%);
		-webkit-filter: brightness(80%);
	}

	@media (min-aspect-ratio: 16/9) {
		#videoHeaderBG{
			width: 100%;
			height: auto;
		}
	}
	@media (max-aspect-ratio: 16/9) {
		#videoHeaderBG{
			
		}
	}

	@media (min-width: 767px){
		.headerVidPoster
		{
			display:none !important;
		}

		
	}
	@media (max-width: 767px){
		#videoHeaderBG
		{
			display:none;
		}

		.headerVidPoster
		{
			
			background:url("/images/CglTask/poster.jpg");
			background-size:cover;

			filter: brightness(80%);
			-webkit-filter: brightness(80%);
		}

		
	}
